imageio==2.37.0
kaolin==0.1
matplotlib==3.10.1
numpy==2.2.4
open3d==0.19.0
opencv_python==4.11.0.86
oss2==2.19.1
Pillow==11.2.1
plyfile==1.1
PyYAML==6.0.2
scikit_learn==1.6.1
scipy==1.15.2
setuptools==75.8.0
Shapely==2.1.0
skimage==0.0
torch==2.6.0
torch_scatter==2.1.2
torchmetrics==1.7.1
torchvision==0.21.0
tqdm==4.67.1
trimesh==4.6.6
viser==0.2.23
