chamfer_distance==0.1
cycler==0.12.1
kaolin==0.17.0
matplotlib==3.10.1
numpy==1.26.4
open3d==0.19.0
opencv-python==4.13.0.92
oss2==2.19.1
Pillow==11.2.1
plyfile==1.1
PyYAML==6.0.3
scikit-image==0.25.2
scikit-learn==1.7.0
scipy==1.15.3
setuptools==78.1.1
Shapely==2.1.0
torch==2.5.1
torch_scatter==2.1.2
torchmetrics==1.7.1
torchvision==0.20.1
tqdm==4.67.3
trimesh==4.6.8
viser==0.2.23
